<h1>Inscription</h1>
<div class="ui message">
    <form class="ui form" method="post" action="/InscriptionsController/do">
        <div class="field">
            <label>Nom ou pseudo</label>
            <input type="text" name="pseudo" placeholder="Nom ou pseudo">
        </div>
        <div class="field">
            <label>Votre adresse mail</label>
            <input type="text" name="mail" placeholder="Adresse mail">
        </div>
        <button class="ui green button" type="envoyer">Valider l'inscription</button>
        <a href="/InscriptionsController/index" class="ui blue button">Retour à l'accueil</a>
    </form>
</div>
